/*
Theme Name: Dr Dana Schmidt	
Author: Dream-Theme
Author URI: http://dream-theme.com/
Description: The7 is perfectly scalable, performance and SEO optimized, responsive, retina ready multipurpose WordPress theme. It will fit every site – big or small. From huge corporate portals to studio or personal sites – The7 will become a great foundation for your next project!
Version: 1.0.1
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
Template: dt-the7
*/

/* About me */
.dt_seven_about_me_color strong {
font-weight:600!important;
color: #5e6267;
}

.dt_seven_custom_bar .vc_label:first-child {
margin-top: 3px;
}

a {
color: #7BA781;
}

a:hover {
color: #7ba797;
}

li.btn.menu-item a {
    background-color: #78a87e;
    padding: 15px;
border-radius:5px;
}

li.btn.menu-item a:hover {
    background-color: #5B9E67;
}

li.btn.menu-item a span{
    color: white !important;
    text-align: center;
    display: table;
    margin: 0 auto;
}

/* included because the homepage images don't otherwise center on mobile */
.wpb_single_image.wpb_content_element.vc_align_center {
text-align: center;
}

/* gravity forms top header */
.mtsnb-custom-content .gform_wrapper .gform_heading {
    width: auto;
    margin-bottom: 0;
    display: inline-block;
    float: left;
    padding-right: 20px;
}

.mtsnb-custom-content h3.gform_title,
.mtsnb-custom-content .gform_wrapper h3.gform_title {
    color: white;
    font-family: open-sans;
    font-weight: 100;
}

.mtsnb-custom-content .gform_footer input.button {
    background-color: #306b32;
}

.mtsnb-custom-content .gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label {
    position: relative;
    top: -3px;
}

/**** MAIL CHIMP FOR WP STYLES 

#mailchimp-top-bar.mctb-big .mctb-button {
    margin-left: 4px;
    text-transform: uppercase;
    FONT-SIZE: 16px;
    letter-spacing: .5px;
}
******/


/*removes the back to top button when the mailchimp notification is active
  .scroll-top {
    display: none !important;
}
 */

/* ConvertPlug SIGNUP FORM IN SIDEBAR */
.cp-modal-body.cp-modal-every-design {
    background-image: url(//i0.wp.com/drdanaschmidt.com/wp-content/uploads/2018/05/background_dill_blue.jpg);
    background-position: 50% 50%;
}


/** CSS RULES FOR THE COMMUNITY PAGE **/

h1 a {
    color: #419e4d;
    border-bottom: #FFF 4px solid;
    transition: border-bottom 200ms ease-in; 
    
}
h1 a:hover {
    color: hsla(128, 59%, 48%, 1);
    border-bottom: #419e4d 4px solid;
}

.main-nav > li > a .menu-text {
    letter-spacing: 1px;
}

#bottom-bar {
    font-size: 14px;
    letter-spacing: .4px;
}

.cta_button button.ubtn-normal {
    padding: 15px 20px;
      border-radius: 5px;
    letter-spacing: .85px;
}

.lead_magenet img {
    max-width: 250px;
}

.vc_toggle {
    margin: 0 0 28px 0;
}

.vc_toggle_color_green .vc_toggle_icon {
    background-color: #7AA77F;
}

.white_text, .white_text h2, .white_text h2 a {
    color: white;
}

.default-btn-shortcode, .dt-btn, .dt-btn-l, .btn, .button, button  {
    text-transform: uppercase;
    line-height: 1;
    vertical-align: unset !important;
}


.wpb_single_image .vc_box_border.vc_box_border_green, .wpb_single_image .vc_box_border_circle.vc_box_border_green {
    background-color: #7AA77F;
    padding: 3px;
    margin-bottom: 9px;
}

.good_fit h3:not(:first-of-type) {
    margin: 25px 0 4px;
}

/* makes all the h2 within the full width rows, with backgrounds, uppercase */
.vc_row[data-vc-full-width]  h2 {
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    #how-it-works .wpb_text_column,
    #how-it-works .wpb_single_image.vc_align_right {
        text-align: center;
    }
    #how-it-works .wpb_single_image img {
        max-width: 100px;
        height: auto;
        margin-bottom: 1em;
    }
}